[Desktop Entry]
Version=1.0
Type=Application
Name=Ajuda do IRPF2021
Exec=/home/diego/ProgramasRFB/IRPF2021/xdg-open /home/diego/ProgramasRFB/IRPF2021/help/AjudaIRPF.pdf
Icon=/home/diego/ProgramasRFB/IRPF2021/RFB.png
OnlyShowIn=Old;
